
@{
    ViewData["Title"] = "CreatingDigitalImages";
}

<h1>"Folder" - Creating Digital Images</h1>

<p>
    <a asp-action="Resources">Resources</a>
</p>
<p>
    <a asp-action="Evidence">Evidence</a>
</p>
<p>
    <a asp-action="GraphicProducts">Graphic Products</a>
</p>


