
@{
    ViewData["Title"] = "Resources";
}

<h1>"Folder" - Resources</h1>

<p>
    <a asp-action="PrimarySources">Primary Sources</a>
</p>
<p>
    <a asp-action="SecondarySources">Secondary Sources</a>
</p>